<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net46" />
  <package id="Freeware.Pdf2Png" version="1.0.1" targetFramework="net46" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net46" />
  <package id="Microsoft.VisualBasic" version="10.4.0-preview.18571.3" targetFramework="net46" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net46" />
</packages>